.header__box {
	width: 100%;
	display: flex;
	justify-content: flex-end;

	&--content {
		flex-direction: column;
	}
	&--login {
		display: flex;
		justify-content: flex-end;
		color: red;
		background-color: red;
	}
}

.header__image {
	width: 50%;
}

.header__nav {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	font-size: 1rem;
	&--item {
		margin: 1rem;
	}
}

.header__banner--box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
}
