.homeabout__box {
    display: flex;
    margin-bottom: 4rem;
}

.homeabout__box--title {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeabout__text {
    font-size: 1.3rem;
    max-width: 50%;
    line-height: 3rem;
    margin: 3rem;
    letter-spacing: -0.6px;
color: #3C3C3C;
text-align: center;
}

.homeabout__signature {
    align-self: flex-end;
    margin-right: 10rem;
}

.homeabout__box--img {
    width: 50%;
}

.homeabout__img--item {
    width: 100%;
}