@import './fonts';
@import './colors';
@import './global';
@import './reset';
@import '../../components/HomeHeader/homeheader';
@import '../../components/HomeThreeColumns/threecolumns';
@import '../../components/HomeSteps/homesteps';
@import '../../components/HomeAbout/homeabout';
@import '../../components/OurHelp/ourhelp';
@import '../../components/Contact/contact';
@import '../../components/Login/login';


body {
font-size: 10px;
font-family: $font-base;
box-sizing: border-box;
}